@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  margin: 0;
  font-family: 'Roboto', Arial;
  background: #fff;
  color: #888b8e

}
.HomeLayout {
  display: flex;
  margin: 0 auto;
  min-height: 100vh;
}
